<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label stacked>Nome do dispositivo</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="!formGroup.controls.nome.valid && (formGroup.controls.nome.dirty || formGroup.controls.nome.touched)" margin-left>Valor inválido</p>
    <!--<ion-item *ngIf="!formGroup.controls.nome.valid && (formGroup.controls.nome.dirty || formGroup.controls.nome.touched)" color="danger">
      <div [hidden]="!formGroup.controls.nome.errors.required">
        O campo é obrigatório!
      </div>  
    </ion-item>
  -->
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input type="text" formControlName="descricao"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="!formGroup.controls.descricao.valid && (formGroup.controls.descricao.dirty || formGroup.controls.descricao.touched)" margin-left>Valor inválido</p>
    <!--<ion-item *ngIf="!formGroup.controls.descricao.valid && (formGroup.controls.descricao.dirty || formGroup.controls.descricao.touched)" color="danger">
      <div [hidden]="!formGroup.controls.descricao.errors.required">
        O campo é obrigatório!
      </div>  
    </ion-item>
    -->
    <ion-item>
      <ion-label stacked>Endereço IP</ion-label>
      <ion-input type="text" formControlName="ip"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="!formGroup.controls.ip.valid && (formGroup.controls.ip.dirty || formGroup.controls.ip.touched)" margin-left>Valor inválido</p>
    
  <div *ngIf="novoDispositivo">
    <ion-item >
      <ion-label stacked>Tipo Dispositivo*</ion-label>
      <ion-select formControlName="idTipo">
        <ion-option *ngFor="let tipo of tipos; first as f" [value]="tipo.id" [selected]="f">{{tipo.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="danger" *ngIf="!formGroup.controls.idTipo.valid && (formGroup.controls.idTipo.dirty || formGroup.controls.idTipo.touched)" margin-left>Valor Inválido</p>
  </div>
  <div *ngIf="!novoDispositivo">
    <ion-item>
      Tipo: {{ dispositivo.dispositivoTipo.id }} - {{ dispositivo.dispositivoTipo.nome }}
    </ion-item>
  </div>
</form>
  <div padding>
    <button ion-button block type="submit" (click)="onSubmit()" [disabled]="formGroup.invalid">Salvar</button>
  </div>
</ion-content>
  